.input {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-field {
    margin-bottom: 20px;
    width: 100%;
    &.m {
      height: 100px;
    }
    &.l {
      height: 300px;
    }
  }
}
.add-news {
  box-sizing: border-box;
  margin-top: 150px;
  border: 1px solid #a3a3a3;
  border-radius: 20px;
  padding: 40px;
  &-add-image {
    width: 100px !important;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 20px;
  }
}

.add-news-preview {
  box-sizing: border-box;
  margin-top: 50px;
  border-radius: 20px;
}

.attached {
  &-image {
    border: 5px solid rgb(255, 255, 255);
    &-active {
      border: 5px solid red;
    }
  }
}

.upload-news-button {
  display: inline-block;
  align-self: center;
  text-align: center;
  margin: auto 10px;
  background-color: #3299de;
  color: white;
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  transition: 0.3s;
  width: 50%;
  &:hover {
    cursor: pointer;
    background-color: #66aedf;
    transition: 0.3s;
  }
}
