.stepper {
  height: 100%;
  display: flex;
  flex-direction: column;
  &-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-family: "Gilroy-Medium";
    &-number {
      margin-right: 10px;
      border-radius: 50%;
      background-color: #ebebeb;
      width: 20px;
      height: 20px;
      padding: 10px;
      font-family: "Gilroy-Medium";
      &.active {
        transition: ease-in 0.2s;
        background-color: #3299de;
        font-family: "Gilroy-Black";
        color: white;
      }
    }
  }
  &-divider {
    width: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    &-content {
      background-color: #ebebeb;
      width: 5px;
      height: 20px;
      z-index: 1;

      &-active {
        width: 100%;
        height: 100%;
        background-color: #3299de;
        transition: 0.3s;
        max-height: 0;
        &.active {
          max-height: 100%;
          transition: ease-out 0.1s;
        }
      }
    }
  }
}
@media only screen and (max-device-width: 768px) {
  .stepper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
    &-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      font-family: "Gilroy-Medium";
      &-number {
        margin-right: 0;
        border-radius: 50%;
        background-color: #ebebeb;
        width: 20px;
        height: 20px;
        padding: 10px;
        font-family: "Gilroy-Medium";
        &.active {
          transition: ease-in 0.2s;
          background-color: #3299de;
          font-family: "Gilroy-Black";
          color: white;
        }
      }
    }
    &-divider {
      width: 20px;
      height: 20px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-content {
        background-color: #ebebeb;
        width: 20px;
        height: 5px;
        z-index: 1;
        &-active {
          width: 100%;
          height: 100%;
          background-color: #3299de;
          transition: 0.3s;
          max-width: 0;
          &.active {
            max-width: 100%;
            transition: ease-out 0.1s;
          }
        }
      }
    }
  }
}
