.custom-input {
  // width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 0 20px;
  flex: 1;
  &:disabled {
    color: rgb(161, 161, 161);
    cursor: pointer;
  }
  &-placeholder {
    display: flex;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    height: 10px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    // padding: 0 24px;
    padding: 0 4px;
    align-items: center;
    z-index: -1;
    transition: 0.3s ease;
    background: #fff;
    input:focus ~ &,
    input:not(:placeholder-shown) ~ & {
      font-size: 12px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.7);
      transform: translateY(-28px);
      background-color: white;
      z-index: 1;
    }
    input:focus ~ &-static,
    input:not(:placeholder-shown) ~ &-static {
      display: none;
    }
    &-static {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 20px;
      text-align: left;
    }
  }
  &::placeholder {
    opacity: 0;
  }
  &:focus {
    outline: none;
    border: none;
  }
  &-wrapper {
    width: 100%;
    z-index: 10;
    // height: 48px;
    * {
      box-sizing: border-box;
    }
  }
  &-container {
    z-index: 10;
    height: 48px;
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 4px;
    display: flex;
    position: relative;
    background: #fff;
    &-error {
      border: 0.5px solid rgb(180, 79, 79);
    }
  }
  &-button {
    background-color: #3299de;
    color: white;
    padding: 0px 30px;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      background-color: #66aedf;
      transition: 0.3s;
    }
  }
  &-error,
  &-information {
    min-height: 20px;
    font-size: 12px;
    padding-left: 4px;
    line-height: 18px;
    color: rgb(180, 79, 79);
    text-align: left;
  }
  &-information {
    color: rgb(161, 161, 161);
  }
}
