.item {
  padding: 20px;
  &-image {
    object-fit: cover;
    aspect-ratio: 3/2.5;
    width: 100%;
    border-radius: 15px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    &-minor {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-family: "Gilroy-Medium" !important;
    }
    &-major {
      display: flex;
      font-size: 25px;
    }
    &-price {
      display: flex;
      font-size: 20px;
      color: #3398db;
      font-family: "Gilroy-Medium";
    }
  }

  &-rating {
    display: flex;
    flex-direction: row;
  }

  .star {
    filter: invert(81%) sepia(49%) saturate(6943%) hue-rotate(177deg)
      brightness(89%) contrast(91%);
    height: 18px;
  }
}
