.item {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 7px -4px #000000;
  box-shadow: 0px 0px 7px -4px #000000;
  &-image {
    object-fit: cover;
    aspect-ratio: 1.5;
    width: 100%;
    border-radius: 10px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    &-minor {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-family: "Gilroy-Medium" !important;
    }
    &-major {
      display: flex;
      font-size: 18px;
    }
    &-price {
      display: flex;
      font-size: 16px;
      color: #3398db;
      font-family: "Gilroy-Medium";
    }
  }

  &-rating {
    display: flex;
    flex-direction: row;
  }

  .star {
    fill: #3299de;
    height: 18px;
  }
}
