.menu-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  font-size: 20px;
  color: #3a3a3a;
}

.menu-item {
  transition: 0.3s;
  border-bottom: 1px solid #8a343400;
  &:hover:not(.lang) {
    border-bottom: 1px solid #3a3a3a;
    transition: 0.3s;
  }
}

.account-menu {
  width: fit-content;
}

.login-button {
  background-color: #3299de;
  color: white;
  padding: 15px 35px;
  border-radius: 15px;
  transition: 0.3s;
  width: 100%;
  &:hover {
    background-color: #66aedf;
    transition: 0.3s;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  &-log-button {
    margin-top: 10px;
    margin-bottom: 40px;
    display: inline-block;
    background-color: #3299de;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    color: white;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 15px;
    transition: 0.3s;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &-button {
    width: 40px;
    height: auto;
    fill: #a3a3a3;
    transition: 0.2s;
    &:hover {
      fill: #e0e0e0;
      transition: 0.2s;
    }
  }
  &-item {
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #a3a3a3;
    transition: 0.2s;
    &:hover {
      background-color: #e0e0e0;
      transition: 0.2s;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-account {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    &-block {
      border-bottom: 2px solid #3299de;
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        height: 100%;
        width: 100%;
        img {
          width: 75px;
          height: auto;
          border-radius: 50%;
        }
      }
      &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
