.address-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  min-height: 310px;
  h1 {
    margin-top: 0;
    padding: 0 100px;
  }
  &-container {
    width: 100%;
  }
  &-fields {
    columns: 2;
    border-top: 1px solid #d6d6d6;
    padding-top: 20px;
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #3299de;
    padding: 10px 5px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-family: Gilroy Medium;
    color: white;
    transition: 0.3s;
    &:disabled,
    &[disabled] {
      background-color: #a3a3a3;
      pointer-events: none;
    }
    svg {
      fill: #ffffff;
      animation: spin 0.8s infinite linear;
      height: 20px;
      width: auto;
      margin-right: 10px;
    }
    &:hover {
      background-color: #66aedf;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}
