.lp-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;

  &-active {
    display: flex;
    flex-direction: row;
    &.open {
      background-color: white;
    }
  }
  &-dropdown {
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: translateY(100%);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    box-shadow: 0px 6px 9px -5px rgba(0, 0, 0, 0.43);
    padding-bottom: 5px;
    border-top: 3px solid white;
    .lp-item {
      padding: 0 10px;
    }
  }
}

.lp-item {
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
  cursor: pointer;

  img {
    margin-right: 5px;
  }
}

.lp-header {
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  cursor: pointer;

  img {
    margin-right: 5px;
  }
}
