.forgot-pw {
  margin-top: 100px;
  &-container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-error {
    border-color: rgb(180, 79, 79);
  }
  &-field {
    margin-bottom: 20px;
  }
  &-text {
    text-align: left;
    margin-bottom: 20px;
    a {
      color: #3299de;
      transition: 0.3s;
      &:hover {
        color: #66aedf;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }
  &-button {
    padding: 15px 0px;
    background-color: #3299de;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Gilroy-Medium";
    border-radius: 10px;
    transition: 0.2s;
    &:hover {
      background-color: #66aedf;
      cursor: pointer;
      transition: 0.2s;
    }
  }
  &-wrap {
    width: 70%;
  }
}

@media only screen and (max-device-width: 768px) {
  .forgot-pw {
    &-text {
      strong {
        word-break: break-all;
      }
      font-size: 16px;
    }
    &-wrap {
      width: 100%;
    }
  }
}
