.account-balance {
  background-image: url("../../assets/home-background.png");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  &-content {
    margin-top: 100px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    h3 {
      color: #3299de;
    }
    &-l {
      width: 50%;
    }
    &-r {
      width: 50%;
      border-left: 1px solid #e3e3e3;
    }
  }
  &-button {
    box-sizing: border-box;
    background-color: #3299de;
    color: white;
    font-family: Gilroy-Medium;
    width: 100%;
    padding: 15px 20px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  &-withdraw {
    width: 80%;
    margin-top: 20px;
  }
}

@media only screen and (max-device-width: 768px) {
  .account-balance {
    &-content {
      margin-top: 100px;
      box-sizing: border-box;
      border: 1px solid #e3e3e3;
      border-radius: 15px;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-button {
      box-sizing: border-box;
      background-color: #3299de;
      color: white;
      font-family: Gilroy-Medium;
      width: 100%;
      padding: 15px 20px;
      display: inline-block;
      margin: 0;
      margin-bottom: 20px;
      border-radius: 10px;
    }
  }
}
