.add-listing {
  background-image: url("../../assets/home-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  &-spinner {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .no-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    &-button {
      background-color: #3299de;
      padding: 15px 45px;
      border-radius: 15px;
      font-family: "Gilroy-Medium";
      color: white;
      transition: 0.3s;
      &:hover {
        background-color: #66aedf;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }
}

.listing {
  &-form {
    padding: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    .error {
      border: 1px solid rgb(180, 79, 79);
      border-width: 1px !important;
      border-color: rgb(180, 79, 79) !important;
      border-radius: 10px;
    }

    :not(h1) {
      text-align: left;
    }
    h4 {
      font-weight: 600;
      color: rgb(61, 60, 60);
    }
    &-field {
      margin-bottom: 10px;
      transition: 0.3s;
      &-map {
        border-radius: 10px;
      }
      &-text {
        margin-bottom: 10px;
        transition: 0.3s;
        height: auto;
      }
    }
    .price-short {
      width: 33%;
      margin-left: 1.5px;
      margin-right: 1.5px;
    }
    &-multi {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 20px;
      .listing-button {
        font-size: 20px;
        background-color: #3299de;
        padding: 15px 45px;
        border-radius: 15px;
        transition: 0.3s;
        font-family: "Gilroy-Medium";
        color: white;
        &.gray {
          color: black;
          background-color: #e0e0e0;

          &:hover {
            background-color: #bebebe;
            transition: 0.3s;
          }
        }
        &.disabled {
          background-color: #bebebe;
          pointer-events: none;
        }
        &:hover {
          background-color: #66aedf;
        }
      }
    }

    .error {
      &-title {
        padding-left: 10px;
        margin-bottom: 5px;
      }
      &-message {
        color: rgb(180, 79, 79);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        &-point {
          color: white;
          background-color: rgb(180, 79, 79);
          border: 1px solid rgb(180, 79, 79);
          padding: 10px;
          margin: 5px;
          border-radius: 10px;
        }
      }
    }
    .rent-price {
      padding-left: 10px;
      margin-bottom: 5px;
    }
  }
}

.no-left-corner {
  border-top-left-radius: 0 !important;
}
