.booked-date {
  background-color: rgb(177, 115, 115) !important;
  color: white;
  pointer-events: none;
}
.today {
  opacity: 0.25;
  pointer-events: none;
}

:root {
  --rdp-cell-width: 50px;
}
.calendar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 1px !important;
  border-radius: 10px;

  &.error {
    border: 1px solid rgb(180, 79, 79);
    border-width: 1px !important;
    border-color: rgb(180, 79, 79) !important;
    border-radius: 10px;
  }
  &-error {
    min-height: 20px;
    font-size: 12px;
    padding-left: 4px;
    line-height: 18px;
    color: rgb(180, 79, 79);
    text-align: left;
    width: 100%;
  }
}
.rdp {
  &-months {
    padding: 10px;
  }
  &-day {
    &_range_end {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    &_range_start {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    &:focus:not([aria-disabled="true"]) {
      border: 0px;
    }
    &_selected {
      background-color: #3299de !important;
    }
  }
}

.rdp-day_range_end {
  &.rdp-day_range_start {
    border-radius: 50% !important;
  }
}
