.add-listing {
  background-image: url("../../assets/home-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  .no-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    &-button {
      background-color: #3299de;
      padding: 15px 45px;
      border-radius: 15px;
      font-family: "Gilroy-Medium";
      color: white !important;
      transition: 0.3s;
      &:hover {
        background-color: #66aedf;
        cursor: pointer;
        transition: 0.3s;
      }
    }
    a {
      color: #3299de;
      transition: 0.2s;
      &:hover {
        color: #66aedf;
        transition: 0.2s;
      }
    }
  }
}

.listing {
  &-form {
    padding: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    .error {
      border: 1px solid rgb(180, 79, 79);
      border-width: 1px !important;
      border-color: rgb(180, 79, 79) !important;
      border-radius: 10px;
    }

    :not(h1) {
      text-align: left;
    }
    h4 {
      font-weight: 600;
      color: rgb(61, 60, 60);
    }
    &-field {
      margin-bottom: 10px;
      transition: 0.3s;
      &-map {
        border-radius: 10px;
      }
      &-text {
        margin-bottom: 10px;
        transition: 0.3s;
        height: auto;
      }
    }
    .price-short {
      width: 33%;
      margin-left: 1.5px;
      margin-right: 1.5px;
    }
    &-multi {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 10px;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 20px;
      .listing-button {
        font-size: 20px;
        background-color: #3299de;
        padding: 15px 45px;
        border-radius: 15px;
        transition: 0.3s;
        font-family: "Gilroy-Medium";
        color: white;
        &.gray {
          color: black;
          background-color: #e0e0e0;

          &:hover {
            background-color: #bebebe;
            transition: 0.3s;
          }
        }
        &.disabled {
          background-color: #bebebe;
          pointer-events: none;
        }
        &:hover {
          background-color: #66aedf;
        }
      }
    }

    .error {
      &-title {
        padding-left: 10px;
        margin-bottom: 5px;
      }
      &-message {
        color: rgb(180, 79, 79);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        &-point {
          color: white;
          background-color: rgb(180, 79, 79);
          border: 1px solid rgb(180, 79, 79);
          padding: 10px;
          margin: 5px;
          border-radius: 10px;
        }
      }
    }
    .sub-title {
      margin: 0;
      padding-left: 10px;
      margin-bottom: 5px;
    }

    &-extras {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-top {
        display: flex;
        gap: 20px;
      }
      &-controls {
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(-50%);
        background-color: white;
        padding: 0 10px;
        svg {
          transition: 0.2s;
          height: 18px;
          width: auto;
          &:hover {
            cursor: pointer;
          }
        }
        &-add {
          margin-right: 5px;
          fill: #3299de;
          &:hover {
            fill: #66aedf;
          }
        }
        &-remove {
          fill: rgb(180, 79, 79);
          &:hover {
            fill: rgb(180, 123, 123);
          }
        }
      }
      &-container {
        background-color: white;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        margin-top: 10px;
        padding: 20px;
        padding-bottom: 0;
        position: relative;
        min-height: 50px;
      }
    }
  }
}

.no-left-corner {
  border-top-left-radius: 0 !important;
}

@media only screen and (max-device-width: 768px) {
  .listing {
    &-form {
      padding: 0px !important;
      background-color: rgba(255, 255, 255, 0) !important;
      border: none !important;
      border-radius: 15px;
      &-multi {
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start;
        gap: 0px;
      }
      &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 0px !important;
        gap: 10px;
        .listing-button {
          font-size: 18px !important;
          box-sizing: border-box;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px 30px !important;
          border-radius: 10px !important;
        }
      }

      &-extras {
        margin-bottom: 20px;
        &-controls {
          svg {
            transition: 0.2s;
            height: 18px;
            width: auto;
          }
        }
        &-container {
          background-color: white;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          border-radius: 15px;
          margin-top: 10px;
          padding: 20px;
          padding-bottom: 0;
          position: relative;
          min-height: 50px;
        }
      }
    }
  }
  .rent-price {
    margin: 0;
    padding-left: 0px !important;
    font-size: 20px;
    margin-bottom: 5px;
  }
}
