.bookings {
  margin-top: 100px;
  box-sizing: border-box;
  background-image: url("../../assets/home-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: calc(100vh - 100px);
  &-content {
    background-color: white;
    min-height: 750px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    h1 {
      margin-bottom: 0px;
    }
    &-container {
      box-sizing: border-box;
      padding: 30px;
      background-color: white;
      display: flex;
      flex-direction: row;
      height: 690px;
    }

    &-left {
      width: 20%;
      .menu-list {
        display: flex;
        flex-direction: column;
        transform: translateX(1px);
        &-item {
          border-radius: 10px;
          padding: 10px;
          border: 1px solid #a3a3a3;
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;

          &.active {
            font-weight: bold;
            background-color: white;
            &:hover {
              cursor: default;
              background-color: white;
              transition: 0.3s;
            }
          }
          transition: 0.3s;
          &:hover {
            cursor: pointer;
            background-color: #ebebeb;
            transition: 0.3s;
          }
          &:not(:last-child) {
            margin-bottom: 1px;
          }
        }
      }
    }

    &-right {
      width: 100%;
      border-radius: 15px;
      border-top-left-radius: 0px;
      height: 100%;
      overflow-y: scroll;
      border: 1px solid #a3a3a3;

      &-container {
        padding: 20px;
        display: grid;
        grid-template-columns: auto;
        row-gap: 10px;
        .booking-item {
          height: 200px;
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #ffffff00;
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #ebebeb;
      }
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .bookings {
    padding-top: 80px;
    padding-bottom: 40px;
    margin-top: 0;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

    &-content {
      min-height: unset;
      height: 100%;
      border: none;
      border-radius: 0px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      padding-bottom: 60px;
      h1 {
        margin-top: 0;
        margin-bottom: 20px;
      }
      &-container {
        height: 100%;
        padding: 0;
        flex-direction: column;
      }

      &-right {
        width: auto;
        border: 1px solid #a3a3a3;
        border-radius: 5px;
      }
      &-left {
        position: relative;
        box-sizing: border-box;
        height: fit-content;
        width: 100%;
        z-index: 10;
        .menu-list {
          flex-direction: row;
          &-item {
            margin-bottom: 0px !important;
            white-space: nowrap;
            box-sizing: border-box;
            border: 1px solid #a3a3a3;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            &:not(:last-child) {
              border-right: none;
            }
            &.active {
              border-bottom: none;
            }
          }
        }
        .booking-cats {
          position: relative;
          height: 50px;
          width: 100%;
          border: 1px solid #a3a3a3;
          margin-bottom: 10px;
          box-sizing: border-box;
          border-radius: 10px;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &.active {
            border-bottom: 0;
            background-color: white;
            border-bottom: 1px solid #a3a3a3;
            border-radius: 10px 10px 0 0;
          }
          &-current {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 50;
            width: 100%;
            &-text {
              font-family: "Gilroy-SemiBold";
            }
          }
          &-list {
            position: absolute;
            background-color: white;
            border: 1px solid #a3a3a3;
            border-top: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 100%;
            top: 50px;

            display: flex;
            flex-direction: column;
            -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
            &-item {
              padding: 10px 0;
              border-bottom: 1px solid #a3a3a3;
              &:last-child {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
