.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  border: 1px solid #e8e8e8;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 0 40px;
  width: 100%;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #8a3434;
}

.menu-item {
  margin-left: 35px;
  transition: 0.3s;
  border-bottom: 1px solid #8a343400;
  &:hover:not(.lang) {
    border-bottom: 1px solid #8a3434;
    transition: 0.3s;
  }
}
.account-menu {
  margin-left: 70px;
}
.loginButton {
  background-color: #8a3434;
  color: white;
  padding: 15px 35px;
  border-radius: 15px;
  transition: 0.3s;
  &:hover {
    background-color: #944545;
    transition: 0.3s;
  }
}
