.side-menu {
  pointer-events: none;
  &.active {
    pointer-events: unset;
  }
  &-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    transition: opacity 0.3s;
    &.active {
      opacity: 0.25;
      transition: opacity 0.3s;
      pointer-events: all;
    }
  }
  &-content {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 275px;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s ease;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.3s ease;
    &.active {
      transform: translateX(0);
      transition: 0.3s ease;
    }
  }
}

// &-background {
//   z-index: 100;
//   position: absolute;
//   top: 0;
//   height: 100vh;
//   width: 100vw;
//   pointer-events: none;
//   transition: background-color 0.3s;
//   &.active {
//     background-color: rgba(0, 0, 0, 0.4);
//     transition: background-color 0.3s;
//     pointer-events: all;
//   }
// }
// position: absolute;
// z-index: 101;
// top: 0;
// right: 0;
// height: 100vh;
// width: 200px;
// background-color: white;
// transform: translateX(100%);
// overflow: hidden;
// transition: transform 300ms ease;
// &.active {
//   transform: translateX(0);
//   transition: transform 300ms ease;
// }

// &-close {
//   height: 30px;
//   width: auto;
//   transform: rotateZ(180deg);
//   position: absolute;
//   left: 0;
//   top: 0;
//   padding: 10px;
//   transition: 0.2s;
//   &:hover {
//     cursor: pointer;
//     fill: #a3a3a3;
//     transition: 0.2s;
//   }
// }
// &-title {
//   h1 {
//     margin: 0;
//     margin-top: 10px;
//     min-width: 100%;
//   }
// }
// &-content {
//   padding: 30px;
// }
