.profile {
  background-image: url("../../assets/home-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    &-error {
      color: rgb(180, 79, 79);
      font-family: Gilroy-Medium;
      font-size: 18px;
    }
    &-field {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
      & > * {
        flex: 1;
      }
      &-input {
        width: 50%;
        // margin: 10px 20px;
        &-error {
          border-color: rgb(180, 79, 79);
        }
      }
    }
  }

  &-button {
    margin-top: 10px;
    background-color: #3299de;
    color: white;
    font-family: Gilroy-Medium;
    padding: 15px 40px;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 220px;
    transition: 0.2s;
    &-container {
      display: flex;
      gap: 40px;
    }
    &-update {
      background-color: #a3a3a3;
    }
    &:hover {
      background-color: #66aedf;
      transition: 0.2s;
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    &-container {
      border: 5px solid rgb(255, 255, 255);
      border-radius: 100px;
      height: 125px;
      width: 125px;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.57);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.57);
    }
  }
}
@media only screen and (max-device-width: 768px) {
  .profile {
    .container-m {
      padding-top: 70px;
      padding-bottom: 30px;
    }
    &-button {
      width: 100%;
      &-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
        width: 100%;
      }
    }

    &-content {
      background-color: rgb(255, 255, 255, 0);
      padding: 0;
      border: none;
      &-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        & > * {
          flex: 1;
        }
        &-input {
          width: 100%;
          // margin: 10px 20px;
          &-error {
            border-color: rgb(180, 79, 79);
          }
        }
      }
    }
  }
}
