.slider {
  //   &-shadow {
  //     box-shadow: inset 0px 0px 44px 46px #ffffff;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //   }
  &-flex {
    min-width: 1100px;
    overflow: hidden;
  }
  // &-flex:before {
  //   content: "";
  //   display: block;
  //   box-shadow: inset 0px 0px 15px 15px #ffffff;
  //   position: absolute;
  //   top: 20;
  //   left: 0;
  //   width: 100%;
  //   height: 150%;
  //   z-index: 90;
  //   transform: translateY(-20px);
  //   pointer-events: none;
  // }
}

.carousel-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  fill: #a3a3a3;
  transition: 0.3s;
  &.back {
    svg {
      transform: rotateZ(180deg);
    }
  }
  background-color: transparent;
  border: none;

  &:hover {
    fill: #e0e0e0;
    transition: 0.3s;
  }
}
