.booking-item {
  padding: 20px 0;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: space-between;
  &-left {
    display: flex;
    flex-direction: row;
  }
  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  img {
    border-radius: 15px;
    width: 250px;
  }

  &-details {
    font-size: 16px;
    font-family: Gilroy-Medium;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
    &-title {
      font-size: 18px;
      color: #3299de;
      font-family: Gilroy-Medium;
      margin-bottom: 5px;
    }
    &-dates {
      margin-bottom: 5px;
    }
    &-price {
      color: #3299de;
      margin-bottom: 5px;
    }
    &-extras {
      color: #3299de;
      margin-bottom: 5px;
      text-align: left;
      display: flex;
      align-items: center;
      &-content {
        position: relative;
        margin-left: 5px;
      }
      &-button {
        display: flex;
        justify-self: center;
        align-self: center;
        background: #8d8d8d;
        fill: white;
        height: 10px;
        width: 10px;
        padding: 2px;
        border-radius: 3px;
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          & ~ .booking-item-details-extras-list {
            opacity: 1;
            visibility: visible;
            transition: 0.3s;
          }
        }
      }
      &-list {
        transform: translateY(100%);
        left: 0;
        bottom: 0;
        visibility: hidden;
        transition: 0.3s;
        opacity: 0;
        position: absolute;
        font-size: 14px;
        border-radius: 5px;
        border-top-left-radius: 0;
        background-color: #8d8d8d;
        padding: 5px;
        color: white;
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 2px;
        span: {
          width: max-content;
        }
      }
    }
    &-comment {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      &-container {
        height: 40px;
        max-height: 50px;
        max-width: 250px;
        overflow-y: auto;
        font-size: 16px;
        font-family: Gilroy-Regular;
        background-color: white;
        padding: 2px;
        border-radius: 10px;

        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #ffffff00;
          border-radius: 5px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background: #bebebe;
        }
      }
      strong {
        margin-bottom: 5px;
      }
    }
    strong {
      color: #000000;
      font-family: Gilroy-Regular;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    &-button {
      background-color: #3299de;
      color: white;
      font-family: Gilroy-Medium;
      padding: 15px 35px;
      border-radius: 10px;
      transition: 0.2s;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &.cancel {
        background-color: #a3a3a3;
        color: white;
        &:hover {
          background-color: #8d8d8d;
          transition: 0.2s;
        }
      }

      &:hover {
        background-color: #467a9c;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .booking-item {
    width: 100%;
    height: 100% !important;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    &-left {
      display: flex;
      flex-direction: column;
    }
    &-image {
      margin-left: 0;
    }
    &-details {
      margin: 0;
    }
    img {
      border-radius: 15px;
      width: 200px;
      margin-bottom: 10px;
    }

    &-buttons {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
      gap: 10px;
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-size: 15px;
        background-color: #3299de;
        padding: 10px 5px;
        width: 100%;
        height: 50px;
        &:not(:last-child) {
          margin-bottom: 0;
        }
        &.cancel {
          background-color: #a3a3a3;
          color: white;
          &:hover {
            background-color: #8d8d8d;
            transition: 0.2s;
          }
        }

        &:hover {
          background-color: #467a9c;
          cursor: pointer;
        }
      }
    }
  }
}
