.item-page-background {
	background-image: url("../../assets/home-background.png");
	background-size: cover;
	background-position: center;
	min-height: calc(100vh - 100px);
	margin-top: 100px;
}
.item-page {
	display: flex;
	flex-direction: row;
	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 15px;

	&-left {
		padding: 20px;
		display: flex;
		flex-direction: column;
		width: 45%;
		border-right: 1px solid #e0e0e0;
		&-map {
			border-radius: 10px;
		}
		&-gallery {
			margin-bottom: 20px;
		}
	}

	&-right {
		padding: 20px;
		text-align: left;
		display: flex;
		flex-direction: column;
		width: 55%;
		&-field {
			padding-bottom: 20px;
			&.flex-row {
				display: flex;
				flex-direction: row;
				padding: 0;
				padding-top: 20px;
			}
		}
		&-user {
			display: flex;
			flex-direction: row;
			height: 20px;
			img {
				width: auto;
				height: 100%;
				margin-right: 5px;
			}
			&-name {
				display: flex;
				align-items: center;
				color: #3299de;
			}
		}
		&-prices {
			background-color: #ebebeb;
			display: flex;
			flex-direction: row;
			width: 100%;
			padding: 15px;
			border-radius: 10px;
			.price {
				width: 33.33%;
				display: flex;
				flex-direction: column;
				text-align: center;
				padding: 20px;
				background-color: white;
				margin-right: 15px;
				border-radius: 5px;
				&:last-child {
					margin-right: 0;
				}

				&-title {
					color: #a3a3a3;
					margin-bottom: 5px;
					font-size: 20px;
				}
				&-price {
					color: #3299de;
					font-weight: bold;
					font-size: 20px;
					a {
						font-weight: 400;
						color: #a3a3a3;
						font-size: 15px;
					}
				}
			}
		}
		&-owner {
			display: flex;
			flex-direction: column;
			width: 50%;
			height: 100%;
			border-right: 1px solid #e0e0e0;
			&-contents {
				background-color: #ebebeb;
				margin: 20px;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				height: 100%;

				img {
					height: 50px;
				}
			}
		}
		&-review {
			display: flex;
			flex-direction: column;
			width: 50%;
			height: 100%;
			&-contents {
				background-color: #ebebeb;
				margin: 20px;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			&-title {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: 10px;
				svg {
					fill: #3299de;
					margin-right: 5px;
				}
			}
			&-text {
				&-user {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					color: #3299de;
					font-family: "Gilroy-Medium";
					margin-bottom: 5px;
					img {
						background-color: white;
						border-radius: 50%;
						height: 20px;
						margin-right: 3px;
					}
					.user {
						display: flex;
						flex-direction: row;
						align-items: center;
					}
					.read-more-link {
						font-style: italic;
						&:hover {
							color: #66aedf;
							cursor: pointer;
						}
					}
				}
				&-content {
					text-overflow: ellipsis;
					overflow: hidden;
					// Addition lines for 2 line or multiline ellipsis
					display: -webkit-box !important;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					white-space: normal;
					max-height: 50px;
				}
			}
		}

		.title-field {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-left {
				display: flex;
				align-items: center;
				.title {
					margin-right: 20px;
				}
			}

			.ratio {
				display: flex;
				flex-direction: row;
				align-items: center;
				font-size: 25px;
				.likes {
					fill: #3299de;
					margin-right: 10px;
					margin-left: 5px;
				}
				.dislikes {
					fill: #a3a3a3;
					margin-left: 5px;
				}
			}
		}
		.availablity-button {
			background-color: #3299de;
			transition: 0.3s;
			font-family: "Gilroy-Medium";
			font-size: 20px;
			color: white;
			width: 100%;
			text-align: center;
			padding: 20px 0;
			border-radius: 10px;
			margin-bottom: 15px;
			&:hover {
				background-color: #66aedf;
				transition: 0.3s;
				cursor: pointer;
			}
			&.booked {
				background-color: #91bcd9;
				color: rgb(255, 255, 255);
				pointer-events: none;
			}
		}

		.description {
			transform: translateY();
			max-height: 100px;
			overflow-y: auto;
			padding: 10px;
			font-size: 18px;
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
	}
}

.title {
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	&-minor {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	&-margin {
		font-size: 22px;
		font-weight: bold;
		text-align: left;
		margin-bottom: 10px;
	}
}
.center {
	display: flex;
	justify-content: center;
	width: 100%;
}

.category-box {
	background-color: #3299de;
	font-family: "Gilroy-Medium";
	font-size: 15px;
	color: white;
	margin-right: 10px;
	padding: 5px;
	border-radius: 5px;
	&.sub {
		background-color: #a7c8df;
	}
}
