.news {
  &-button {
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #3299de;
    padding: 15px 35px;
    width: 33.33%;
    border-radius: 10px;
    transition: 0.2s;
    color: white;
    font-family: Gilroy-Medium;
  }
  &-block {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  &-item {
    min-height: 460px;
    flex: 1;
    background: white;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    &-image {
      width: 100%;
      height: auto;
      aspect-ratio: 1.5/1;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &-title {
      padding-top: 10px;
      text-align: left;
      font-family: "Gilroy-SemiBold";
      font-size: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-text {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 10px;
      text-align: left;
    }
    &-date {
      margin-top: auto;
      padding-top: 10px;
      text-align: left;
      color: #a3a3a3;
      font-size: 11px;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .news {
    &-block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-item {
      width: 100%;
      padding: 20px;
      &-text {
        -webkit-line-clamp: 5;
      }
    }
  }
}
