.image-picker {
  &-image {
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    &-controls {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 2px;
      margin-bottom: 2px;
      z-index: 99;
      &-tooltip {
        pointer-events: none;
        position: relative;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: 0.3s;

        &-content {
          text-align: justify;
          width: fit-content;
          position: absolute;
          padding: 5px;
          border-radius: 7px;
          top: -32px;
          background-color: white;

          white-space: nowrap;
          text-align: center;
        }
        .arrow-down {
          position: absolute;
          top: -7px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid white;
        }
      }
    }
    &-icon {
      fill: white;
      margin: 2px;
      opacity: 0;
      transition: 0.3s;
      .delete {
        border-radius: 10px;
        background-color: rgb(202, 59, 59);
      }
      .crown {
        border-radius: 10px;
        background-color: #62c967;
      }
      &:hover {
        opacity: 1 !important;
        cursor: pointer;
        .image-picker-image-controls-tooltip {
          opacity: 1;
          transition: 0.3s;
        }
      }
      svg {
        padding: 5px;
      }
    }

    &:hover &-icon {
      opacity: 0.75;
      transition: 0.2s;
    }
  }
  &-button {
    display: flex;
    flex-direction: column;
    background-color: #a3a3a3;
    width: auto;
    height: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &-text {
      font-family: "Gilroy-Black";
      color: #e0e0e0;
      padding-bottom: 5px;
      transition: 0.3s;
    }
    svg {
      fill: #e0e0e0;
      transition: 0.3s;
    }
    &:hover {
      background-color: #d4d4d4;
      cursor: pointer;
      transition: 0.3s;
      svg {
        fill: #f1f1f1;
        transition: 0.3s;
      }
    }
    &:hover &-text {
      color: #f1f1f1;
      transition: 0.3s;
    }
  }
}

.main-image-text {
  background-color: #3299de;
  border-radius: 7px;
  padding: 5px;
  margin-top: 5px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: Gilroy-Medium;
  color: white;
}
