.home {
  background-image: url("../../assets/home-background.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  &-search {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-bar {
      width: 70%;
      margin: auto;
      margin-top: 10px;
    }
    &-title {
      display: flex;
      flex-direction: row;
      .accent {
        color: #3398db;
      }
    }
    &-carousel {
      width: 1500px;
      height: auto;
    }
    &-view-more {
      background-color: #3299de;
      color: white;
      padding: 15px 35px;
      border-radius: 15px;
      transition: 0.3s;
      &:hover {
        background-color: #66aedf;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }

  &-news {
    padding-top: 100px;
  }
}
