.login {
  &-page {
    margin-top: 100px;
    &-wrapper {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-actions {
      width: 100%;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    &-button {
      width: 100%;
      // margin-top: 20px;
      display: block;
      padding: 15px 0px;
      background-color: #3299de;
      color: white;
      border-radius: 10px;
      transition: 0.3s;
      font-family: Gilroy-Medium;
      &:hover {
        background-color: #66aedf;
        transition: 0.3s;
        cursor: pointer;
      }
      &[disabled] {
        pointer-events: none;
        background-color: #a3a3a3;
        cursor: auto;
      }
    }
    .change-log-type {
      color: #3398db;
      &:hover {
        color: #43adf3;
        cursor: pointer;
      }
    }
    h1 {
      margin-bottom: 30px;
      a {
        color: #3398db;
      }
    }
  }
  &-form-field {
    margin-top: 20px;
    .password-tooltip {
      display: flex;
      align-items: left;
      span {
        color: rgb(180, 79, 79);
        width: 100%;
        text-align: left;
      }
    }
  }

  &-container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-error {
    border-color: rgb(180, 79, 79);
    transition: 0.3s;
    color: red;
  }
}

@media only screen and (max-device-width: 768px) {
  .login {
    &-page {
      &-wrapper {
        font-size: 18px;
        width: 100%;
      }
    }
  }
}
