.login {
  &-page {
    margin-top: 100px;
    &-actions {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      width: 70%;
    }
    &-button {
      width: 70%;
      margin-top: 20px;
      padding: 15px 0px;
      background-color: #3299de;
      color: white;
      border-radius: 10px;
      transition: 0.3s;
      font-family: Gilroy-Medium;
      &:hover {
        background-color: #66aedf;
        transition: 0.3s;
        cursor: pointer;
      }
    }
    .change-log-type {
      color: #3398db;
      &:hover {
        color: #43adf3;
        cursor: pointer;
      }
    }
    h1 {
      margin-bottom: 10px;
      a {
        color: #3398db;
      }
    }
  }
  &-form-field {
    margin-top: 20px;
    width: 70%;
    .password-tooltip {
      display: flex;
      align-items: left;
      span {
        color: rgb(180, 79, 79);
        width: 100%;
        text-align: left;
      }
    }
  }

  &-container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-error {
    border-color: rgb(180, 79, 79);
    transition: 0.3s;
    color: red;
  }
}
